@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-styl{
    /* font-family: "Work Sans", sans-serif; */
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
}
@media print {
    .hidden-on-print {
      display: none;
    }
  }
.home-btn-pos{
  position: absolute;
  top: 9px;
}